@import url('../../globalStyles.css');

.detailMainContainer {
  display: flex;
  /* height: 100%; */
  height: fit-content;
  min-height: 200px;

  /* max-height: 230px; */
}

.detailContainer {
  /* padding: 8px 0; */
  border-radius: 16px;
  height: fit-content;
  min-height: 200px;
  width: 400px;
  background-color: var(--light-orange);
  gap: 4%;
  transition: 2s;
}

.form {
  height: 100% !important;
}

.inputField {
  width: 80% !important;
  height: fit-content;
  padding: 6px !important;
  margin: 0;
  border: none !important;
  outline: none;
  font-size: 16px;
  font: var(--primary-font);
}

.closeIconDiv {
  position: absolute;
  top: 20px;
  right: 25px;
}

.closeIconDiv img {
  width: 2rem;
}

.closeIconDiv:hover {
  cursor: pointer;
}

.avatarContainer {
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarSmallContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.avatarSmallContainer > img {
  width: 100%;
  width: 80px;
  height: 80px;
}

.avatarSmallContainer .updateAvatar {
  color: black;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

/* .updateAvatar:hover {
  cursor: pointer;
  color: rgba(105, 103, 103, 0.5);
  text-decoration: underline;
} */

.updateImgTextContainer {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 5px;
  padding: 8px 2px;
}

.updateImgTextContainer img {
  width: 16px;
}

.updateImgTextContainer {
  transition: background-color 0.3s ease;
}

.updateImgTextContainer:hover {
  cursor: pointer;
  background-color: rgba(239, 239, 239, 0.563);
}

.infoContainerAndUpdate {
  width: 70%;
  /* background-color: wheat; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  border-radius: inherit;
}

.infoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabContainer {
  width: 100%;
  gap: 8px;
  max-width: 400px;
  flex-wrap: wrap;
}
