@import url('../../globalStyles.css');

.detailMainContainer {
  /* display: flex; */
  /* height: 100%; */
  height: fit-content;
  min-height: 200px;

  /* max-height: 230px; */
}

.detailContainer {
  padding: 50px;
  border-radius: 16px;
  height: fit-content;
  min-height: 200px;
  width: 400px;
  background-color: #f4f3f1;
  gap: 4%;
  transition: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.closeIconDiv {
  position: absolute;
  top: 20px;
  right: 25px;
}

.closeIconDiv img {
  width: 2rem;
}

.closeIconDiv:hover {
  cursor: pointer;
}

.avatarContainer {
  /* border-right: 2px solid rgba(0, 0, 0, 0.5); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer > img {
  width: 70%;
  height: 70%;
}

.infoContainer {
  width: 100%;
}
.avatarSmallContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.avatarSmallContainer > img {
  width: 100%;
  width: 80px;
  height: 80px;
}

.avatarSmallContainer .updateAvatar {
  color: black;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

/* .updateAvatar:hover {
  cursor: pointer;
  color: rgba(105, 103, 103, 0.5);
  text-decoration: underline;
} */

.updateImgTextContainer {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 5px;
  padding: 8px 2px;
}

.updateImgTextContainer img {
  width: 16px;
}

.updateImgTextContainer {
  transition: background-color 0.3s ease;
}

.updateImgTextContainer:hover {
  cursor: pointer;
  background-color: rgba(239, 239, 239, 0.563);
}

.infoContainerAndUpdate {
  width: 70%;
  /* background-color: wheat; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  border-radius: inherit;
}

.infoContainer {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
}

.infoContainer > :last-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  align-items: baseline;
}

.tabContainer {
  width: 100%;
  gap: 8px;
  max-width: 400px;
  flex-wrap: wrap;
}

.formContainer {
  width: 100%;
  padding: 20px;
}

.infoUpdate {
  width: 100%;

  /* background-color: wheat; */
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  border-radius: inherit;
}

.infoUpdate > div {
  display: grid;
}

.infoUpdate > div > label {
  text-align: left;
}

.form {
  height: 100% !important;
}

.inputField:focus {
  outline: solid 1px #ff8600;
}

/* .inputField {
  width: 100% !important;
  height: fit-content;
  padding: 6px !important;
  margin: 0;
  border: none !important;
  outline: none;
  font-size: 16px;
  font: var(--primary-font);
} */
