button {
  border-radius: 8px;
  font-family: Noto Sans JP;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
  padding: 10px 0px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  min-width: 150px;
}

.button1 {
  background-color: #d18d0f;
  border: 2px solid #d18d0f;
}

.button1:hover {
  background-color: white;
  color: #d18d0f;
}

.button2 {
  background-color: #3d233a;
  border: 2px solid #3d233a;
}

.button2:hover {
  background-color: white;
  color: #3d233a;
}
