@import "../styles/globalStyles.css";

button {
  font-family: var(--primary-font);
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
  padding: 10px 20px;
  border: none;
  cursor: pointer
}

button > i{
  margin-right: 5px;
}

button > i{
  margin-right: 5px;
}

.button1 {
  color: white;
  border-radius: 8px;
  background-color: var(--light-orange);
  border: 2px solid var(--light-orange);
}

.button1:hover {
  background-color: white;
  color: var(--light-orange);
}

.button2 {
  border-radius: 8px;
  color: white;
  background-color: #3d233a;
  border: 2px solid #3d233a;
}

.button2:hover {
  background-color: white;
  color: #3d233a;
}

.disabledButton{
  background-color: #949497;
  cursor: not-allowed;
}
.defaultButton:hover {
  background-color: white;
  color: black;
}