@import "./globalStyles.css";


.header {
    background-color: white;
    max-width: 100vw;
    height: 10vh;
}

.logoContainer {
    width: 16%;
    height: auto;
}

.navBar {
    width: 60%;
    height: auto;
}
ul {
    list-style-type: none;
    width: 80%;
    height: 100%;
    /* background-color: red; */
    gap: 40px;
}

li > button {
    font-size: larger;
    font-weight: bold;
    text-decoration: solid black;
    background-color: inherit;
    border-radius: 16px;
}


.loginSignupContainer {
    width: 24%;
    height: auto;
}

.loginSignup {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em
}

