.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 3px;
  width: 500px;
  padding: 1rem;
  border-radius: 8px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title {
  font-weight: bold;
}

.modal_title i {
    color: #3d233a;
    padding-right: 5px;
  }

.modal_close_ {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

.modal_body {
  text-align: center;
  padding-top: 2rem;
}

.modal_btnContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: end;
}
