@import '../Header.module.css';
@import '../globalStyles.css';

.body {
  width: 100%;
  height: fit-content;
  /* background-color: var(--light-orange) ; */
  display: flex;
  justify-content: center;
  font: var(--primary-font);
}

.mainContainer {
  margin-top: 4vh;
  margin-bottom: 4vh;
  width: 80vw;
  gap: 2em;
}

/* .recipeDetail {
    width: 50vw;
    height: fit-content;
    gap: 20px;
} */

/* Recipes introduction */
.recipePrimaryContainer {
  width: 100%;
  height: fit-content;
  background-color: whitesmoke;
  border-radius: 16px;
  gap: 20px;
}

.recipeDetailMainContainer {
  background-color: var(--light-orange);
  padding: 12px;
}

.title {
  margin: 0px 16px;
  padding: 8px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: bold;
}

.recipeImg {
  width: 50vw;
  border-radius: 16px 16px 0 0;
  /* background-color: black; */
}

.commonInfo {
  width: 100%;
  height: fit-content;
  /* background-color: wheat; */
  display: flex;
}
.commonInfoEle {
  /* display: flex;
    flex-direction: row; */
  margin: 8px 8px 16px;
}

.commonInfoEle > img {
  margin: 2px 4px;
  width: 20px;
  height: 20px;
}

/* Ingredients */

.ingredientContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.ingredientTab {
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  background-color: whitesmoke;
}

.labelContainer {
  margin: 0 16px;
  padding: 12px 0;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  gap: 8px;
  position: relative;
  max-width: 400px;
  flex-wrap: wrap;
}

.label {
  /* font-size: 12px; */
  height: fit-content;
  width: fit-content;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 16px;

  /* margin: 4px 8px 4px 0; */
  border: 1px ridge rgba(0, 0, 0, 0.25);
}

.ingDetailContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 4px 4px 16px 4px;
}

.eleContainer {
  width: fit-content;
  align-items: center;
  gap: 8px;
}

.recipePrimaryContainer p {
  padding: 4px 16px 16px;
  text-align: justify;
  line-height: 1.6;
}

.reviewSection {
  /* width: 36%; */
  height: 100%;
  /* background-color: white; */
  border-radius: 16px;
  /* max-height: 40vh; */
}

.userReviewContainer {
  height: 200px;
  margin: 12px;
  padding: 12px 16px 0 16px;
  border-radius: 16px;
  background-color: whitesmoke;
  /* height: 200px; */
  max-height: 300px;
  /* text-overflow: clip; */
  overflow: hidden;
  /* box-sizing: border-box; */
}

.userAvatar {
  height: 50px;
  width: 50px;
  /* background-color: red; */
}

.userInfoContainer {
  gap: 12px;
}

.userReviewContainer > p {
  padding: 14px;
  font-size: 14px;
  -webkit-line-clamp: 5;
}

.originContainer {
  display: flex;
  /* align-items: start; */
}

.originContainer > p {
  width: fit-content;
}

.reviewsContainer {
  background-color: var(--light-orange);
}
