.page {
  min-height: 100vh;
  background-color: black;
}

.text {
  padding: 75px;
}

.form_Container {
  padding: 0px 200px;
}

.filter_Container {
  display: flex;
  gap: 6px;
  align-items: center;
}

.filter_Container > :first-child {
  /* margin: 6px; */
  width: 87% !important;
  /* border: 2px solid #ff8600 !important;
    border-radius: 8px !important; */
}

.noResultsFound {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.noResultsFound > img {
  padding-top: 30px;
}

.noResultsFound > *:not(:last-child) {
  display: block;
  padding-bottom: 20px;
}
.cardLazyLoading {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 350px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 8px 8px 8px #ddd;
  margin: 12px 0px;
  flex-basis: 33.33333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.cardContainer > * {
  flex-basis: 33.33333%;
}

.cardContainer > a {
  display: flex;
  justify-content: center;
}

.cardContainer > div:empty {
  height: 0;
  border: none;
  width: 350px;
}
